---
layout: default
permalink: /alums.html
---

<div>
  <p>
    the MDBQ began its life as a larger ensemble known as the MDBO(rchestra). after a covid hiatus we decided to shrink the group down to a quartet, losing several of our beloved members. they are here honored:
  </p>
  
  <div>
    <ul class="random-order-list">
      <li><a href="https://www.sequoiasellinger.com/">sequoia sellinger</a></li>
      <li><a href="http://www.jonahudall.com/">jonah udall</a></li>
      <li><a href="https://melodyloveless.com">melody loveless</a></li>
      <li><a href="https://www.zacharyjamesritter.com/">zachary james ritter</a></li>
      <li><a href="https://www.meeshfradkin.com/">meesh fradkin</a></li>
      <li><a href="https://soundcloud.com/slimechurch">coco walsh</a></li>
    </ul>
  </div>

  <p>
    <a href="/">&lt;-- back</a>
  </p>
</div>
