@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

$base-font-family: 'Source Code Pro', monospace;
$base-font-size:   20px !default;
$base-font-weight: 600 !default;
$tiny-font-size:   $base-font-size * 0.6 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$medium-font-size:  $base-font-size * 1.2 !default;
$larger-font-size: $base-font-size * 1.5 !default;
$huge-font-size:   $base-font-size * 4 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

// Width of the content area
$content-width:    950px !default;
$on-palm:          600px !default;
$on-medium:        900px !default;

// Colors


// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=7070C0koC++h8HOn2WHoU++pa++ */

// As hex codes */

$color-primary-0: #FF593B;	// Main Primary color */
$color-primary-1: #FF8C76;
$color-primary-2: #FF6447;
$color-primary-3: #FF5739;
$color-primary-4: #FF5637;

$color-secondary-1-0: #FFAB3B;	// Main Secondary color (1) */
$color-secondary-1-1: #FFC576;
$color-secondary-1-2: #FFB047;
$color-secondary-1-3: #FFAA39;
$color-secondary-1-4: #FFA937;

$color-secondary-2-0: #48AFFF;	// Main Secondary color (2) */
$color-secondary-2-1: #649DC8;
$color-secondary-2-2: #4FACF3;
$color-secondary-2-3: #46AEFF;
$color-secondary-2-4: #44AEFF;

$color-complement-0: #3BFF7D;	// Main Complement color */
$color-complement-1: #63D68A;
$color-complement-2: #45F681;
$color-complement-3: #39FF7C;
$color-complement-4: #37FF7A;


// Font colors
$color-text-0: #f0f0f0;
$color-text-1: #286290;

h1 {
    border: ($spacing-unit / 2) dashed $color-secondary-2-4;
    margin: ($spacing-unit * 2) 0;
    padding: $spacing-unit ($spacing-unit * 2);
    font-size: $huge-font-size;
    span.minor-word {
        font-size: $medium-font-size;
    }
    @include media-query($on-medium) {
        margin-bottom: $spacing-unit;
        margin-top: 0;
        font-size: $larger-font-size;
        span.minor-word {
            font-size: $small-font-size;
        }

    }
    @include media-query($on-palm) {
        margin-bottom: $spacing-unit;
        margin-top: 0;
        font-size: $medium-font-size;
        span.minor-word {
            font-size: $small-font-size;
        }
        
    }
}

p {
    margin: $spacing-unit 0 $spacing-unit 0;
    line-height: $spacing-unit;
}

html {
    background-color: $color-primary-4;
    color: $color-text-0;
    font-family: 'Source Code Pro', monospace;
    font-weight: $base-font-weight;
}

body {
    margin: auto;
    max-width: $content-width;
    @include media-query($on-medium) {
        padding: $spacing-unit / 2;
    }
    @include media-query($on-palm) {
        padding: $spacing-unit / 2;
    }
}

.content-body {
    padding-left: $spacing-unit * 2.5;
    padding-right: $spacing-unit * 2.5;

    @include media-query($on-medium) {
        padding-left: 0;
        padding-right: 0;
    }
    @include media-query($on-palm) {
        padding-left: 0;
        padding-right: 0;
    }
}

ul {
    list-style: none;
    padding-left: $spacing-unit * 2.55;
    @include media-query($on-medium) {
        padding-left: inherit;
    }
    @include media-query($on-palm) {
        padding-left: inherit;
    }
}

ul li::before {
    content: "~ ";
}

ul li {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
}

hr {
  border: ($spacing-unit / 8) dashed $color-secondary-2-4;
}

a {
    color: $color-text-1;
    font-weight: 900;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    margin: 3px;
    background: $color-secondary-1-4;
    border: 3px solid $color-secondary-1-1;
    box-shadow: ($spacing-unit / 8) ($spacing-unit / 8) 0px 0px $color-complement-0;
    transition: box-shadow 0.2s;
    white-space: nowrap;
}

a:visited {
    color: $color-text-1;
}

a:hover, a:focus {
    border-bottom: 1px solid;
    box-shadow: 0 0 0 $spacing-unit $color-complement-0;

}

a:active {
    color: $color-text-1;
}

.footer {
  display: flex;
  margin-bottom: $spacing-unit;
}

figure, img {
  max-width: 100%;
  height: auto;
}

figure {
    padding: $spacing-unit;
    margin: $spacing-unit;
    @include media-query($on-palm) {
      padding: inherit;
      margin: inherit;
    }
}
